/out/production/IntelJ/.idea/.gitignore
/out/production/IntelJ/.idea/.name
/out/production/IntelJ/.idea/IntelJ.iml
/out/production/IntelJ/Main.class
/out/production/IntelJ/.idea/misc.xml
/out/production/IntelJ/.idea/modules.xml
/out/production/IntelJ/server.js
/out/production/IntelJ/Test
/out/production/IntelJ/.idea/vcs.xml
